<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- <bean id="parriot" class="com.Alamgir.SPEL.SEPLProject.Parriot"> <property 
		name="id" value="#{random.getText()?.length()}"></property> <property name="speech" 
		value="#{random.getText()}"></property> </bean> <bean id="random" class="com.Alamgir.SPEL.SEPLProject.RandomSpeech"> 
		</bean> -->

	<context:property-placeholder location="com/Alamgir/SEPL/props/jdbc.properties" />
	<context:component-scan base-package="com.Alamgir.SPEL.SEPLProject">
	</context:component-scan>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/springtutorial"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>
	<context:component-scan base-package="com.Alamgir.SPEL.SEPLProject">

	</context:component-scan>
<!-- For handeling transaction start-->
	<tx:annotation-driven />
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- For handeling transaction end-->
</beans>
